CaseInquire.MDL/CaseInquire/Service References/CaseWS/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService_Support2" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService_Support2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WO_SyncDataR">
    <xs:sequence>
      <xs:element minOccurs="0" name="_Jobm_AccountID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_CaseStep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_CustBatchID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_CustCaseNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_DoctorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_EstimateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_OperationMode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_OperationUserID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_OperationUserPwd" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_Partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_Patient" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_ReceiveDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_Region" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_RelateCaseNO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_RelateCaseStep" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_RequestDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_Route" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_Stage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_Jobm_SystemID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WO_SyncDataR" nillable="true" type="tns:WO_SyncDataR" />
  <xs:complexType name="WO_ReturnInfoR">
    <xs:sequence>
      <xs:element minOccurs="0" name="_ReturnCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_ReturnMessage" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WO_ReturnInfoR" nillable="true" type="tns:WO_ReturnInfoR" />
</xs:schema>